html, body, .map {
    height: 100%;
    margin: 0;
    padding: 0;
}

#places-search {
    margin-top: 3em;
    margin-left: 8em;
    position: absolute;
    z-index: 1;
}

#places-list {
    height: 100%;
    width: 20%;
    position: absolute;
    right: 0;
    z-index: 1;
}
